.header {
  position: relative;
  padding: 100px 0;
  background-image: url("../img/header/header-img-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;

  &::after {
    content: "";
    background: #003861;
    position: absolute;
    opacity: 0.50;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  &__text {
    text-align: center;
    position: relative;
    z-index: 1;
  }

  &__title {
    font-size: 55px;
    line-height: 164%;
    color: $c-white;

    @media (max-width: $md) {
      font-size: 48px;
      
    }

    @media (max-width: $sm) {
      font-size: 27px;
      
    }  
    
    @media (max-width: $xs) {
      font-size: 25px;
      
    }  
  }

  &__desc {
    font-size: 30px;
    color: $c-white;

    @media (max-width: $md) {
      font-size: 25px;
    }

    @media (max-width: $sm) {
      font-size: 20px;
      
    }  
    
    @media (max-width: $xs) {
      font-size: 15px;
      
    }  
  }

  &__button {
    padding: 19px 40px;

    &:first-child {
      margin-right: 30px;
    }

    @media (max-width: $xs) {
      padding: 15px 25px;
      font-size: 15px;
      
    }  

  }

  &__buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }


}
