.ebook-list {
  counter-reset: number;
  columns: 2;
  margin-top: 38px;

  &__item {
    width: calc(100% - 25px);
    padding: 0;
    list-style: none;
    counter-increment: number;
    color: $c-gray;
    font-size: 18px;
    line-height: 40px;

    &::marker {
      content: counter(number) ")\a0";
    }
  }
}  