.nav {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: $c-white;
  z-index: 2;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
    color: $c-gray;

    &.is-active {
      right: 0;
    }

    a {

      &:not(:last-of-type) {
        margin-right: 60px;
      }
    }

    @media (max-width: $md) {
      font-size: 16px;

      a {

        &:not(:last-of-type) {
          margin-right: 30px;
          
        }
      }
    }

    @media (max-width: $sm) {
      position: absolute;
      width: 100%;
      top: 100px;
      right: -100%;
      background-color: white;
      flex-direction: column;
      padding: 15px;
      transition: right 0.3s ease-in-out;
      
      a {

        &:not(:last-of-type) {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }
  }

  &__link {
    position: relative;
    transition: color .25s ease;

    &::after {
      content: "";
      background: $c-blue;
      height: 2px;
      width: 0;
      position: absolute;
      bottom: -8px;
      left: 1px;
      transition: width .25s ease;
    }
    

    &:hover {
      color: $c-blue;

      &::after{
        width: 50%;
      }
    }
  }

  &__button {
    padding: 14px 28px;
  }

  &__logo {
    height: 60px;

    @media (max-width: $md) {
      width: 100px;
    }  
  }
}